<h3>Books issued to all student: </h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Issued to</th>
      <th>Issued on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrowed_books.each do |bb| %>
      <tr>
        <td><%= bb.book.title %></td>
        <td><%= bb.student.name %></td>
        <td><%= bb.created_at %></td>
        <td><%= link_to 'Go to book', bb.book %></td>
        <td><%= link_to 'Destroy', issue_path(bb), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>